.container-bookingseat{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookingseat-row {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.bookingseat-row-seat {
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
    background-color: burlywood;
}