.component-filter {
    padding: 20px 20px;
    box-sizing: border-box;
}

.component-filter-child {
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .component-filter-header {
        width: 400px;
        background-color: burlywood;
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
    }

    .component-filter-type-time {
        display: flex;
        border: 1px solid black;
        padding: 20px;
        box-sizing: border-box;
        p {
            min-width: 200px;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            span {
                border: 1px solid black;
                padding: 5px 10px;
                margin-right: 20px;
                margin-top: 5px;
            }
        }
    }
}