.container-description {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 50px;
    p,span {
        line-height: 30px;
        font-size: 20px;
    }
    .container-description-right{
        margin-left: 20px;
    }
    .container-description-bottom{
        margin: 20px 0px;
    }
}
