//  all view movie
.container-m-nowandsoon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

// handle reuse
.button-handle-group {
    display: flex;
    width: 100%;
}

// container movie
.container-m-nowandsoon-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 30%;
    height: 350px;
    position: relative;
    margin-bottom: 20px;

    // background
    img {
        position: absolute;
        top: 0px;
        width: 100%;
        object-fit: contain;
    }

    // content name movie
    .container-m-nowandsoon-children_name {
        position: absolute;
        bottom: 0px;
        cursor: pointer;
    }

    // fill use hover
    .container-m-nowandsoon-children_hover {
        background-color: transparent;
        display: flex;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 77%;
        z-index: 1000;
        margin-bottom: 20%;
        justify-content: center;
        align-items: center;

        // content by ticket
        .container-m-nowandsoon-children_hover-child {
            display: none;
            background-color: rgba(17, 16, 16, 0.9);
            width: 80px;
            text-align: center;
            padding: 10px 20px;
            margin: auto;
            margin-bottom: 120px;
            color: white;
            border: 1px solid white;
        }

        // hover get ticket
        .container-m-nowandsoon-children_hover-child:hover {
            background-color: rgba(204, 72, 72, 0.9);
        }
    }
}

// hover will change background
.container-m-nowandsoon-children_hover:hover {
    cursor: pointer;
    background-color: rgba($color: #000000, $alpha: 0.5);

    // show content ticket
    .container-m-nowandsoon-children_hover-child {
        display: block;
    }
}