.container-select-component {
    display: inline-flex;
    padding: 0px 20px;
    box-sizing: border-box;
    select {
        margin-right: 60px;
        min-width: 80px;
        padding: 5px 20px;
        option {
            border: 1px solid black;
            text-align: left;
        }
    }

}